<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.2048.com/2048"
    xmlns:gap   = "http://2048.com/2048/1.0"
    id          = "com.2048.main"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>2048</name>

  <description>
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
  </description>

  <icon src="icon.png" />
  <splash src="splash.png" />

</widget>


